container {

}

.main-header {
    height: 2em;

}

#menu-option {
    border: 1px dotted #204000;
}

body {
    font-family: 'Righteous', cursive;
    background-color: darkgoldenrod;
    color: #204000;
}

#submit {
    background-color: #204000;
    color: darkgoldenrod;
    border: 0;
}